<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<style>
		body {
			background-color: rgb(104, 175, 163);
		}

		table,
		th,
		td {
			border: 1px solid rgb(9, 10, 14);
		}

		tr:nth-child(odd) {
			background-color: #afdaeb;
		}

		th {
			background-color: rgb(173, 102, 108);
		}
	</style>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DETAILS</title>
</head>

<body>

	<table style="width:100%">
		<h2>
			<center>DETAILS</center>
		</h2>
		<button><b><a href="{% url 'logout' %}"> LOGOUT</a></button></b>
		<h3>
			Hello {{ request.session.user_email }} Welcome to the page
		</h3>
		<tr>
			<nav class="w3-bar w3-pink">
				<p style="text-align:center;"><b><a href="get" class="w3-button w3-bar-item">ADD</a></b></p>
				<form method="POST" action="{% url 'all' %}">
					{% csrf_token %}

					<label for="">Search </label>
					<input type="text" name="name">

					<button type="submit"><b>SEARCH</button></b <br>
				</form>

				<form method="POST" action="{% url 'mark' %}">
					{% csrf_token %}

					<label for="">mark1</label>
					<input type="number" name="mark1">
					<label for="">mark2</label>
					<input type="number" name="mark2">

					<button type="submit"><b>SEARCH</button></b <br>
				</form>

				<th>ID</th>
				<th><b>First Name</b></th>
				<th><b>Last Name</b></th>
				<th><b>DOB</b></th>
				<th><b>Gender</b></th>
				<th><b>Email</b></th>
				<th><b>Mobile Number</b></th>
				<th><b>DIVISION</b></th>
				<th><b>JAVA</b></th>
				<th><b>CN</b></th>
				<th><b>Profile pic</b></th>
				<th><b>Edit</b></th>
				<th><b>Delete</b></th>
		</tr>
		{% for i in data %}
		<tr>
			<td>
				{{i.id}}
			</td>
			<td>
				{{i.fn}}
			</td>
			<td>
				{{i.ln}}
			</td>
			<td>
				{{i.d}}
			</td>
			<td>
				{{i.ge}}
			</td>
			<td>
				{{i.ema}}
			</td>

			<td>
				{{i.pho}}
			</td>
			<td>
				{{i.br}}
			</td>
			<td>
				{{i.m1}}
			</td>
			<td>
				{{i.m2}}
			</td>
			<td>
				<img src="{{i.profile_pic.url}}" style="height: 10%; width:20%;">
			</td>

			<td>
				<a href="{% url 'ed' userid=i.id %}">Edit</a>
			</td>
			<td>
				<a href="{% url 'dl' userid=i.id %}">Delete</a>
			</td>
		</tr>

		{% endfor %}
		</center>
	</table>
</body>

</html>